@model IEnumerable<CollegeManagement.Models.Student>

<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Course Average</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td><a href="@Url.Action("Details", "Students", new { id = student.Id })">@student.Name</a></td>
            <td>@student.Age</td>
            <td>@student.Course.Name</td>
            <td>@student.CourseAverage</td>
        </tr>
    }
    </tbody>
</table>
